<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>我的雲盤</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
.idCheck {
	top: 50%;
	transform: translateY(15%);
}

.folderName {
	font-weight: bold;
	color: black;
}

.fileName {
	font-weight: bold;
}
</style>
</head>
<body>

	<div class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- javascript:location.reload(); 点击当前html重新加载页面 -->
					<a class="navbar-brand" href="javascript:location.reload();">我的雲盤</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
								新建文件夹
								<span class="sr-only">(current)</span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<div style="padding: 5px 5px 5px;">
										<div class="input-group">
											<input type="text" class="form-control" id="newFolderNameInput">
											<span class="input-group-btn" onclick="createDir()">
												<button class="btn btn-default" type="button">确认</button>
											</span>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">上傳</a>
						</li>
						<li>
							<a href="#">删除</a>
						</li>
					</ul>
					<!-- /.container-fluid -->
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<!-- 路径导航 -->
		<ol class="breadcrumb" id="breadcrumbArea">
			<li>
				<a href="#" onclick="openPath(this)">/</a>
			</li>
		</ol>
	</div>

	<!-- 文件夹和文件展示区域 -->
	<div class="container">
		<div class="list-group" id="fileAndFolderArea"></div>
	</div>
	<script type="text/x-handlebars-template" id="breadcrumbTemplate">
		{{#each breadcrumb}}
			{{#if isLast}}
				<li class="active">{{name}}</li>
			{{else}}
				<li>
					<a href="#" onclick="openPath(this)">{{name}}</a>
				</li>
			{{/if}}
		{{/each}}
	</script>
	<script type="text/x-handlebars-template" id="fileAndFolderAreaTemplate">
		{{#each pathInfo}}
			{{#if isFolder}}
				<a href="javascript:void(0)" class="list-group-item" ondblclick="openFolder(this)" val="{{name}}">
					<input type="checkbox" class="idCheck" />
					<span class="folderName">{{name}}</span>
					<span class="badge">↯</span>
				</a>
			{{else}}
				<a href="javascript:void(0)" class="list-group-item">
					<input type="checkbox" class="idCheck" />
					<span class="fileName">{{name}}</span>
					<span class="badge">↯</span>
				</a>
			{{/if}}
		{{/each}}
	</script>
	<script type="text/x-handlebars-template" id="fileNameTemplate">

	</script>


	<script type="text/javascript" src="bootstrap/js/jQuery.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="handlebars.js"></script>
	<script type="text/javascript" src="common.js"></script>

	<script>
		var page = new Page();
		var baseUrl = "http://127.0.0.1:88";
		var breadcrumbPathArr = [];
		$("#breadcrumbArea a").each(function() {
			breadcrumbPathArr.push($(this).text());
		});

		initPage(baseUrl);

		//新建文件夹
		function createDir() {
			var newFolderName = $("#newFolderNameInput").val();
			var basePath = breadcrumbPathArr.join("/");
			$.ajax({
				type : 'post',
				url : baseUrl + '/createDir', //一样接口路径
				data : {
					"basePath" : basePath,
					"newFolderName" : newFolderName
				},
				success : function(data) {
					//这个data就是后台返回的res.write（）或者是res.send()
					$("#newFolderNameInput").val("");
					initPage(baseUrl + breadcrumbPathArr.join("/"));
				},
				error : function(err) {
					console.log('请求出错！');
				}
			});
		}

		//点击面包屑导航
		function openPath(dom) {
			breadcrumbPathArr = [];
			breadcrumbPathArr.push($(dom).text());
			// 当前a标签的父标签li，遍历当前点击节点之前的所有a标签
			$(dom).parent().prevAll().each(function() {
				breadcrumbPathArr.push($(this).find("a").text());
			});
			// prevAll()方法，返回的是倒序的，需要颠倒回来
			breadcrumbPathArr = breadcrumbPathArr.reverse();
			initPage(baseUrl + breadcrumbPathArr.join("/"));
		}

		//打开文件夹
		function openFolder(dom) {
			var folderName = $(dom).attr("val");
			breadcrumbPathArr.push(folderName);
			initPage(baseUrl + breadcrumbPathArr.join("/"));
		}

		// 构造页面
		function initPage(url) {
			$.get(url, function(data) {
				//构造文件和文件夹区域
				page.initFileAndFolderArea(data);
				//构造导航栏
				page.initBreadcrumb(breadcrumbPathArr);
			});
		}

		function Page() {
			/**
			 *[ "/" , "home" , "data"]
			 * 接收路径数组，返回面包屑导航HTML，除最后一个以外可点击
			 */
			this.initBreadcrumb = function(breadcrumbPathArr) {
				var data = {};
				var breadcrumb = [];

				for (var i = 0; i < breadcrumbPathArr.length; i++) {
					var breadcrumbJson = {}
					breadcrumbJson.name = breadcrumbPathArr[i];
					breadcrumbJson.isLast = i + 1 == breadcrumbPathArr.length ? true
							: false
					breadcrumb.push(breadcrumbJson);
					data.breadcrumb = breadcrumb;
				}

				var template = Handlebars.compile($("#breadcrumbTemplate")
						.html());
				var html = template(data);
				$("#breadcrumbArea").html(html);
			}

			/**
			 *var fileAndDirNames = {
			 *	"status" : 200,
			 *	"msg" : {
			 *		"allDirNames" : [ "cookie", "debug", "destroy" ],
			 *		"allFileNames" : [ "wenjianjia.jpg" ]
			 *	}
			 *};
			 * 接收文件和文件夹名称的json数据，返回文件和文件夹区域的html
			 */
			this.initFileAndFolderArea = function(fileAndDirNames) {
				if (fileAndDirNames.status == 200) {
					fileAndDirNames = fileAndDirNames.msg;
					var data = {};
					var pathInfo = [];
					var folderNames = fileAndDirNames.allDirNames;
					for (var i = 0; i < folderNames.length; i++) {
						var pathInfoJson = {};
						pathInfoJson.name = folderNames[i];
						pathInfoJson.isFolder = true;
						pathInfo.push(pathInfoJson);
						data.pathInfo = pathInfo;
					}
					var fileNames = fileAndDirNames.allFileNames;
					for (var i = 0; i < fileNames.length; i++) {
						var pathInfoJson = {};
						pathInfoJson.name = fileNames[i];
						pathInfoJson.isFolder = false;
						pathInfo.push(pathInfoJson);
						data.pathInfo = pathInfo;
					}

					var template = Handlebars.compile($(
							"#fileAndFolderAreaTemplate").html());
					var html = template(data);
					$("#fileAndFolderArea").html(html);
					$("a").click(function(e) {
						$("a").removeClass("active");
						$(e.target).addClass("active");
					});
				}
			}
		}
	</script>
</body>
</html>